@using Model.Models
@using Model.Services
@model List<Animel>


<div class="container-fluid justify-content-between d-flex flex-wrap">
    @foreach (Animel animel in Model)
    {
        <div class="container d-coulomn col-4 flex-row @animel.CategoryEnum.ToString() animel ">
            <h2 class="m-auto p-2 text-center ">@animel.Name</h2>
            <a asp-action="Index" asp-controller="AnimelData" asp-route-id=@animel.ID>
                <img class="rounded-2 img-thumbnail img-fluid"
                 src=@ImagesFormater.FormatRawDataToImage(animel.ImageRawData)
                 alt="@animel.Name" />
            </a>
            @if (animel.Comments != null && animel.Comments.Count != 0)
            {
                <h3 class="h3 fw-bolder text-center"> @animel.Comments.Count() Comments</h3>
            }
            else
            {
                <h3 class="h3 fw-bolder text-center">No comments yet</h3>
            }
        </div>
    }
</div>