@model Model.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h2 class="text-bg-success text-center p-2">
    Log in please
</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" autocomplete="off">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Username" class="control-label m-1"></label>
                <input asp-for="Username" class="form-control text-bg-success" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label m-1"></label>
                <input asp-for="Password" class="form-control text-bg-success" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>


