<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
			<add 
			name="ZooDataBase"
			providerName="System.Data.ProviderName"
			connectionString="Data Source=(localdb)\\mssqllocaldb;Initial Catalog=Zoo;Integrated Security=True" 
			/>
	</connectionStrings>
</configuration>